.jumbotron {
    padding: none;
    background-color: rgba(51, 107, 134, 0.93);
    color: white;
}

body {
	color: #254356;
}

.container-fluid {
    padding: 20px 50px;
}

.scroll-box {
	padding-top: none;
	width: 100%;
    overflow-y: scroll;  
    overflow-x: visible;
    height: 77vh;
}

#swarm-stats {
	background-color: #eee;
	padding: 0 0 2% 5%;
	color: #254356;
	font-weight: 500;
}
#nodes-all {
	height: 60vh;
	padding-top: none;
	overflow-y: scroll; 
}

.stats {
	cursor: pointer;
	font-weight: 500;
}

.data-element {
	background-color: #eee;
}

.output {
	font-style: italic;
}

.INFO {
	color: #2330ED;
}

.PASS {
	color: green;
}

.SKIP {
	color: #E1CA2C;
}

.WARN {
	color: red;
}

.tabContent {
	display: none;
}

.pointer {
	cursor: pointer;
}

ul {
	list-style-type: disc;
	font-size: large;
}

.input-box {
	height: 3em;
    font-size: medium;
    border-radius: 3px;
}

#pwStatus {
	font-style: italic;
	color: red;
	font-size: medium;
}
