.jumbotron {
    padding: 70px 25px;
}

.container-fluid {
    padding: 20px 50px;
}

.scroll-box {
	padding-top: none;
	width: 100%;
    overflow-y: scroll;  
    height: 70vh;
}

#meta-data {
	padding-left: 3%;
}

.stats {
	cursor: pointer;
}

.data-element {
	background-color: #eee;
}

.output {
	font-style: italic;
}

.INFO {
	color: #2330ED;
}

.PASS {
	color: green;
}

.SKIP {
	color: #F9F92D;
}

.WARN {
	color: red;
}

.tabContent {
	display: none;
}

.nodeHeader {
	cursor: pointer;
}
